@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #ff0000;
  --modal-background-color: rgba(0, 0, 0, 0.4); 
  --modal-content-color: white;
  --black: black;
  --category-hover:rgb(110, 110, 110);

  --food-category-box-color: rgba(47, 235, 88, 0.4);
  --food-area-box-color: rgba(85, 109, 228, 0.4);
  --add-to-favorite-btn-color: rgb(91, 249, 91);

  --fontDefault: Poppins, Helvetica, Arial, sans-serif;
}
