@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@font-face {
  font-family: "Poleno";
  src: url("../fonts/PolenoBlack.woff2") format("woff2");
}

:root {
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-4: 1rem; /* 16px */
  --spacing-6: 1.5rem; /* 24px */
  --spacing-8: 2rem; /* 32px */
  --spacing-10: 2.5rem; /* 32px */
  --spacing-12: 3rem; /* 48px */
  --spacing-14: 3.5rem; /* 48px */
  --spacing-16: 4rem; /* 64px */
  --color-primary: #f5f5f5; /* White */
  --color-secondary: #242325; /* Black */
  --color-tertiary: #500e2d; /* Gray */
  --color-positive: #438a42; /* Green */
  --color-warning: #e75666; /* Red */
  --color-warning-dark: #561921;
  --color-accent: #ff698b; /* Pink */
  --color-info: #3b82f6; /* Blue */
  --color-light: #f3f4f6; /* Gray */
  --color-link: #00e; /* Link blue */
  --color-button-favorites: #214d21; /* Link blue */
  --color-food-area-box: #cbdae7;
  --color-food-category-box: #c1e6c1;
  --color-blur-backgrund: rgba(79, 75, 75, 0.211); /*transparent gray*/
  --color-category-hover: rgb(56, 55, 55);
  --border-forms: 0.4rem solid #50bb50;
  --border-input: 0.1rem solid #c3d2c3;
  --border-radius-btn: 1.5625rem;
  --border-radius-form: 1.5625rem;
  --border-radius-input: 0.3125rem;
  --border-radius-search-field: 0.3125rem;
  --border-radius-card: 0.75rem;
  --box-shadow: 0 0.5rem 1.2rem 0 rgba(0, 0, 0, 0.15);
  --font-size-desktop-4xl: 5.61rem;
  --font-size-desktop-3xl: 4.209rem;
  --font-size-desktop-2xl: 3.157rem;
  --font-size-desktop-xl: 2.369rem;
  --font-size-desktop-lg: 1.777rem;
  --font-size-desktop-md: 1.333rem;
  --font-size-base: 1rem;
  --font-size-desktop-sm: 0.75rem;
  --font-size-desktop-tiny: 0.563rem;
  --font-size-mobile-4xl: 2.986rem;
  --font-size-mobile-3xl: 2.488rem;
  --font-size-mobile-2xl: 2.074rem;
  --font-size-mobile-xl: 1.728rem;
  --font-size-mobile-lg: 1.44rem;
  --font-size-mobile-md: 1.2rem;
  --font-size-mobile-sm: 0.833rem;
  --font-size-mobile-tiny: 0.694rem;

  --font-h1: "Poleno", Arial, sans-serif;
  --font-base: "Poppins", Arial, sans-serif;

  --font-weight-base: 400;
  --font-weight-md: 500;
  --font-weight-thick: 700;
  --letter-spacing-tight: -0.05em;
  --letter-spacing-normal: 0em;
  --line-height-base: 1.5em;
  --line-height-tight: 1.2em;
  --line-height-hero-desktop: 0.9;
  --line-height-hero-mobile: 3rem;

  --transition-duration-75: 75ms;
  --transition-duration-100: 100ms;
  --transition-duration-150: 150ms;

  --transition-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --transition-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --transition-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  --transform-btn: translateY(-0.2rem);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --alert-modal-width: 300px;
  
}
