/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  color: var(--secondary-color);
}

nav div:first-child {
  display: flex;
  align-items: center;
  gap: var(--spacing-12);
}

nav div:last-child {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
}

nav #signUpBtn,
nav #logOutBtn {
  font-family: var(--font-base);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius-btn);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all var(--transition-duration-150) var(--transition-ease-in-out);
}

#signUpBtn:hover,
nav #logOutBtn:hover {
  transform: var(--transform-btn);
  box-shadow: var(--box-shadow);
}

@media (max-width: 1000px) {
  nav {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
  }
  main {
    padding: var(--spacing-4);
  }
  .exploreHeader,
  .favoritesHeader {
    padding-top: var(--spacing-4);
  }
}
