@import "_variables.css";
@import "explore.css";

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  all: unset;
}

body {
  font-family: var(--font-base);
}

h1 {
  font-family: var(--font-h1);
  color: var(--color-secondary);
}

img {
  max-width: 100%;
  height: auto;
}

#mealsContainer,
#favoritesMealsContainer {
  margin: var(--spacing-4);
  display: grid;
  grid-gap: var(--gap-4);
  grid-template-columns: repeat(3, 1fr);
}

.foodCart {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 3vh;
  max-height: 35vh;
  width: 18rem;

  .infoContainer {
    margin: 0.5rem 1rem 1rem 1rem;
    padding-top: 0.5vh;
    padding-left: 0.5vh;

    .categoryArea {
      display: flex;

      .category,
      .area {
        display: inline-block;
        padding: 0.3rem 0.6rem;
        font-size: 0.8rem;
        color: var(--black);
        border-radius: 5px;
        margin-right: 5px;
      }
      .area {
        background-color: var(--food-area-box-color);
      }
      .category {
        background-color: var(--food-category-box-color);
      }
    }

    .mealName {
      margin-top: 1vh;
      font-size: 0.8rem;
    }

    .instructions {
      font-size: 0.6rem;
    }
  }

  .thumbContainer {
    position: relative;

    .mealThumbnail {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      width: 100%;
      height: 20vh;
      object-fit: cover;
      display: block;
    }

    .addToFavoritesButton {
      background-color: var(--add-to-favorite-btn-color);
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      padding: 5px 8px;
      border-radius: 20%;
      cursor: pointer;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal-background-color);

  .modal-content {
    background-color: var(--modal-content-color);
    margin: 20vh 20%;
    padding: 1rem;
    width: 60%;
    border-radius: 10px;
    white-space: pre-wrap;

    .close {
      color: var(--black);
      float: right;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}
