@import "_variables.css";
@import "nav.css";
@import "footer.css";

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  all: unset;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

h1 {
  font-family: var(--font-h1);
}

img {
  max-width: 100%;
  height: auto;
}
 p{
  max-width: 50ch;
}

#alertModal {
  display: none;
  position: absolute;
  top: 10px;
  left: calc(50% - 150px);
  z-index: 100;
  width: var(-alert-modal-width);
  padding: var(--spacing-4);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-card);
}


#alertModal .alertModal-content .close {
  position: absolute;
  top: 0.3rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

