@import "_variables.css";
@import "explore.css";
@import "nav.css";

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  all: unset;
}

body {
  font-family: var(--font-base);
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

h1 {
  font-family: var(--font-h1);
}

img {
  max-width: 100%;
  height: auto;
}
