<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="../js/app.js" type="module"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<main>
    <header>
        <nav>
            <div>
                <a href="../"><img src="../images/logo-ux.svg" alt="Logo"></a>
                <a href="../views/explore.html">Explore</a>
                <a href="../views/favorites.html">Favorites</a>
            </div>
            <div>
                <a id="signUpBtn" href="../views/signup.html"><button>Sign up</button></a>
                <a id="loginBtn" href="../views/login.html">Login</a>
                <a id="logOutBtn" href="../"><button>Logout</button></a>
            </div>
        </nav>
    </header>

    <body>
        <h1>Chek out them favorites</h1>

        <section id="favoritesMealsContainer">

        </section>

        <dialog id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 id="modalMealName"></h2>
                <p id="modalIngredience"></p>
                <p id="modalInstructions"></p>
            </div>
        </dialog>

    </body>
</main>

</html>