<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="../js/app.js" type="module"></script>
</head>
<main>
    <nav>
        <a href="../views/">Home</a>
        <a href="../views/login.html">Login</a>
        <a href="../views/signup.html">Signup</a>
        <a href="../views/explore.html">Explore</a>
        <a href="../views/favorites.html">Favorites</a>
        <button id="logOutBtn">Logout</button>
    </nav>
    <body>
        <h1>Chek out them favorites</h1>
    </body>
</main>
</html>