<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="../js/app.js" type="module"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>


    <header>
        <nav>
            <div>
                <a href="../" title="Return to home page"><img src="../images/logo-ux.svg" alt="Logo"></a>
                <a href="../views/explore.html" title="Explore various recipes">Explore</a>
                <a href="../views/favorites.html" title="View your favorite recipes">Favorites</a>
            </div>
            <div>
                <a id="signUpBtn" href="../views/signup.html" title="Sign up to create an account">Sign up</a>
                <a id="loginBtn" href="../views/login.html" title="Log in to your account">Login</a>
                <a id="logOutBtn" href="../" title="Log out from your account">Logout</a>
            </div>
        </nav>
    </header>

    <main>


        <section id="login_wrapper">
            <article id="login_images">
                <img class="hidden_desktop" src="../images/login-ux.svg" alt="Person with login form" />
                <img hidden class="hidden_mobile" src="../images/login-mobile-ux.svg" alt="Person with login form" />
            </article>
            <article id="login_form_and_text_wrapper">
                <h1>Log in 🔑</h1>
                <p class="login_article_text">
                    Enter your details below to discover and save your favourite
                    recipes.
                </p>
                <form id="logInForm">
                    <div>
                        <label for="login_user_email">Email</label>
                        <input required type="email" id="login_user_email" name="userEmail" placeholder="email"
                            aria-required="true" autocomplete="email" />
                    </div>
                    <div>
                        <label for="login_user_password">Password</label>
                        <input required type="password" id="login_user_password" name="userPassword"
                            placeholder="password" aria-required="true" autocomplete="current-password" />
                    </div>

                    <button type="submit" aria-label="Log in as a user">Log In</button>
                </form>
                <div class="form_reminder">
                    <p>Not a member yet? <a href="../views/signup.html" title="Sign up to become a member">Sign up</a></p>
                </div>
            </article>
        </section>

    </main>

</body>

</html>