<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Signup</title>
  <script src="../js/app.js" type="module"></script>
  <link rel="stylesheet" href="../css/style.css" />
  <link rel="stylesheet" href="../css/signup.css">
</head>


<body>
  <header>
    <nav>
      <div>
        <a href="../" title="Return to home page"><img src="../images/logo-ux.svg" alt="Logo"></a>
        <a href="../views/explore.html" title="Explore various recipes">Explore</a>
        <a href="../views/favorites.html" title="View your favorite recipes">Favorites</a>
    </div>
    <div>
        <a id="signUpBtn" href="../views/signup.html" title="Sign up to create an account">Sign up</a>
        <a id="loginBtn" href="../views/login.html" title="Log in to your account">Login</a>
        <a id="logOutBtn" href="../" title="Log out from your account">Logout</a>
    </div>
    </nav>
  </header>



  <main>


    <section id="signup_wrapper">
      <article>
        <img class="hidden_desktop" src="../images/signup-ux.svg" alt="Person filling out signup form" />
        <img class="hidden_mobile" hidden src="../images/signup-mobil-ux.svg" alt="Person filling out signup form" />
      </article>
      <article id="signup_form_and_text_wrapper">
        <h1>Sign Up for an Account 👋</h1>
        <p class="signup_article_text">
          Lets get you all set up so you can start exploring your first
          recepies.
        </p>
        <form id="signUpForm">
          <div>
            <label for="user_email">Email</label>
            <input required type="email" id="user_email" name="userEmail" placeholder="email" aria-required="true"
              autocomplete="email" />
          </div>
          <div>
            <label for="user_password">Password</label>
            <input required type="password" id="user_password" name="userPassword" placeholder="password"
              aria-required="true" autocomplete="new-password" />
          </div>
          <div>
            <label for="user_password_confirm">Confirm Password</label>
            <input required type="password" id="user_password_confirm" name="userPasswordConfirm"
              placeholder="confirm password" aria-required="true" autocomplete="new-password" />
          </div>
          <button type="submit" aria-label="Sign up as a new user">
            Sign Up
          </button>
        </form>
        <p id="form_reminder">
          Already signed up?<a href="../views/login.html" title="Log in if you already have an account">Log in instead</a>
        </p>
      </article>
    </section>


  </main>


</body>

</html>